---
import Layout from '../../components/Layout.astro'
import BtnMostrarProductos from '../../components/btn_mostrar_productos.astro'
import BtnCotizar from '../../components/btn_cotizar.astro'
import { Fade, Zoom } from "react-awesome-reveal";
---

<Layout path="../" title='Perfiles de aluminio' descriptions='acrílicos, policarbonato, plásticos para baño, domos'>
    <div class="container mx-auto py-10">       

        
        <div class="text-center">
            
            <h1 class="font-Bebas-Neue text-4xl md:text-6xl pb-3 text-yellow-700">Productos adicionales</h1>

            <BtnMostrarProductos/>
            
            <div class="md:w-2/3 mx-auto p-5 md:p-0 grid md:grid-cols-2 gap-2 mb-10">

                <div class="relative max-w-xl mx-auto">
                    <img src="../images/producto/adicional-acrilico.jpg" alt="Acrilico">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white text-3xl">Acrílico</h2>
                    </div>
                </div>
                
                <div class="relative max-w-xl mx-auto">
                    <img src="../images/producto/adicional-domo.jpg" alt="Domos">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white text-3xl">Domos</h2>
                    </div>
                </div>
                
                <div class="relative max-w-xl mx-auto">
                    <img src="../images/producto/adicional-plastico-banio.jpg" alt="Plásticos para baño">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white text-3xl">Plásticos para baño</h2>
                    </div>
                </div>
                
                <div class="relative max-w-xl mx-auto">
                    <img src="../images/producto/adicional-policarbonato.jpg" alt="Policarbonato">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white text-3xl">Policarbonato</h2>
                    </div>
                </div>

            </div>
            
            
            <BtnCotizar title='Cotizar productos adicionales' message='Hola! Estoy quiero cotizar productos adicionales'/>

            <BtnMostrarProductos/>
            
        </div>
    </div>
</Layout>


