---
import Layout from '../../components/Layout.astro'
import BtnMostrarProductos from '../../components/btn_mostrar_productos.astro'
import BtnCotizar from '../../components/btn_cotizar.astro'
import Carrusel from '../../components/Carrusel.jsx'


---

<Layout path="../" title='Perfiles de aluminio' descriptions='Herrajes para cristal templado, Herrajes para cancelería de aluminio nacional, Herrajes para cancelería de aluminio nacional española'>
    <div class=" mx-auto py-10">       

        <div class="text-center">

            <div class="container mx-auto">
                <h1 class="font-Bebas-Neue text-4xl md:text-6xl pb-3 text-yellow-700">Herrajes</h1>
                <BtnMostrarProductos/>           
                
                <p class="text-2xl p-5 md:pb-10">
                    Herrajes para cristal templado, herrajes para cancelería de aluminio nacional y española
                </p>

            </div>
            


            <Carrusel client:load/>
        

            <div class="container mx-auto">

                <BtnCotizar title='Cotizar herrajes' message='Hola! Me interesa cotizar herrajes '/>
                
                <BtnMostrarProductos/>
            </div>

        </div>
    </div>
</Layout>


