---
import Layout from '../../components/Layout.astro'
import BtnMostrarProductos from '../../components/btn_mostrar_productos.astro'
import BtnCotizar from '../../components/btn_cotizar.astro'

---

<Layout path="../" title='Perfiles de aluminio' descriptions='Herrajes para cristal templado, Herrajes para cancelería de aluminio nacional, Herrajes para cancelería de aluminio nacional española'>
    <div class="container mx-auto py-10">       

        
        <div class="text-center">
            
            <h1 class="font-Bebas-Neue text-4xl md:text-6xl pb-3 text-yellow-700">Herrajes</h1>

            <BtnMostrarProductos/>           

            <p class="text-2xl p-3 md:pb-10">

                Herrajes para cristal templado, herrajes para cancelería de aluminio nacional y española
                
            </p>

            <div class="md:w-2/3 mx-auto">
            <!-- Component: Slider with indicators & controls inside -->
            <div class="relative w-full  glide-03">
                <!-- Slides -->
                <div class="overflow-hidden" data-glide-el="track">
                    <ul class="relative w-full overflow-hidden p-0 whitespace-no-wrap flex flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform]">
                        <li><img src="../images/producto/herraje-cristal.jpg" class="w-full max-w-full max-h-full m-auto" /></li>
                        <li><img src="../images/producto/proceso-vidrio-canto-pulido.jpg" class="w-full max-w-full max-h-full m-auto" /></li>
                        <li><img src="../images/producto/proceso-vidrio-cenefa.jpg" class="w-full max-w-full max-h-full m-auto" /></li>
                        <li><img src="../images/producto/proceso-vidrio-grabado.jpg" class="w-full max-w-full max-h-full m-auto" /></li>
                        <li><img src="../images/producto/proceso-vidrio-saques.jpg" class="w-full max-w-full max-h-full m-auto" /></li>
                    </ul>
                </div>
                <!-- Controls -->
                <div class="absolute left-0 flex items-center justify-between w-full h-0 px-4 top-1/2 " data-glide-el="controls">
                    <button class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20" data-glide-dir="<" aria-label="prev slide">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <title>prev slide</title>
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                        </svg>
                    </button>
                    <button class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20" data-glide-dir=">" aria-label="next slide">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <title>next slide</title>
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                        </svg>
                    </button>
                </div>
                <!-- Indicators -->
                <div class="absolute bottom-0 flex items-center justify-center w-full gap-2" data-glide-el="controls[nav]">
                    <button class="p-4 group" data-glide-dir="=0" aria-label="goto slide 1"><span class="block w-2 h-2 transition-colors duration-300 rounded-full ring-1 ring-slate-700 bg-white/20 focus:outline-none"></span></button>
                    <button class="p-4 group" data-glide-dir="=1" aria-label="goto slide 2"><span class="block w-2 h-2 transition-colors duration-300 rounded-full ring-1 ring-slate-700 bg-white/20 focus:outline-none"></span></button>
                    <button class="p-4 group" data-glide-dir="=2" aria-label="goto slide 3"><span class="block w-2 h-2 transition-colors duration-300 rounded-full ring-1 ring-slate-700 bg-white/20 focus:outline-none"></span></button>
                    <button class="p-4 group" data-glide-dir="=3" aria-label="goto slide 4"><span class="block w-2 h-2 transition-colors duration-300 rounded-full ring-1 ring-slate-700 bg-white/20 focus:outline-none"></span></button>
                </div>
            </div>

            <script>
                var glide03 = new Glide('.glide-03', {
                    type: 'carousel',
                    focusAt: 'center',
                    perView: 2.5,
                    autoplay: 3000,
                    animationDuration: 700,
                    gap: 0,
                    classes: {
                        activeNav: '[&>*]:bg-slate-700',
                    },

                });

                glide03.mount();
            </script>
            <!-- End Slider with indicators & controls inside -->
            </div>


            <BtnCotizar title='Cotizar herrajes' message='Hola! Me interesa cotizar herrajes '/>

            <BtnMostrarProductos/>

        </div>
    </div>
</Layout>


