---
import Layout from "../components/Layout.astro";


import Whatsapp from "../components/Whatsapp";
import Hero from "../components/Hero.astro"
const lista = ['israel','learsi','Shirel']

---

<Layout title = 'Bienvenido'>

		<h1 class="text-7xl text-purple-600">Principal</h1>
		<Whatsapp props={{msg:'hello world again'}} client:load/>
		<Hero/>
		
	
		<p>listado:</p>
		<ul>
			{
				lista.map(item => <li>{item}</li>)
			}
		</ul>
</Layout>