---
import Layout from '../components/Layout.astro'
import Card from '../components/Card.astro'
---
<Layout>

    <h1>
        Productos
    </h1>

    <Card
        title='Producto A'
        description='lorem ips'
    />

    <Card
        title='Producto B'
        description='lorem '
    />

    <Card

    />


</Layout>