---

interface Props {
    title?:string;
    message?:string;
}

const {
    title,
    message
} = Astro.props

---




<div class="p-5 text-center
top-0 z-[-10] bg-transparent bg-[radial-gradient(ellipse_50%_30%_at_50%_-10%,rgba(120,119,198,0.3),rgba(255,255,255,0))]
">
    <p class="font-Bebas-Neue text-3xl md:text-4xl animate-pulse">{title}</p>
    <p class="font-thin text-lg">Mandanos mensaje o llama ahora, te atenderemos con gusto</p>
    
    <div class="py-5 md:space-x-2 space-y-2">

        <a 
        href=`https://api.whatsapp.com/send?phone=5215565819341&text=${message}`
        class="py-3 px-5 bg-green-700 border border-green-400 rounded-md transition hover:bg-green-800 duration-300 ease-in-out block md:inline" href="" target="_blank">
            <i class="fab fa-whatsapp"></i> Mandar mensaje
        </a>

        <a href="tel:59360365" class="py-3 px-5 bg-slate-700 -700 border border-slate-400 rounded-md transition hover:bg-slate-800 duration-300 ease-in-out block md:inline" href="" target="_blank">
            <i class="fas fa-phone-alt"></i> Llamar ahora
        </a>

    </div>
</div>
