---
    const numeros=[
        5559360365,
        5559363562,
        5559362789,
        5563593952,        
    ]

    function random(){
        let telefono =numeros[Math.floor(Math.random() * numeros.length)];
        console.log(telefono)
        return `tel:${telefono}`
    }
---

<div class="text-center pb-10 space-x-4 grid grid-cols-2 w-fit m-auto">    
    <a href="https://api.whatsapp.com/send?phone=525563593952&text=Hola! Estoy en su pagina web y me interesa obtener más información sobre sus productos." target="_blank" class="bg-green-700 text-white rounded-full py-3 px-4 border-2 border-green-600">
        Manda mensaje
        <i class="fab fa-whatsapp"></i>
    </a>


    <a href={random()} target="_self" class="bg-yellow-700 text-white rounded-full py-3 px-4 border-2 border-yellow-500">
        Llama ahora 
        <i class="fas fa-phone-alt"></i>
    </a>

</div>

