<div class="mx-auto w-screen bg-zinc-900 p-12">
    <div class="container">

        <div class="text-center italic py-12 text-zinc-400 text-sm">
            <p>© Todos los derechos reservados</p>
            <p>aluvitec.mx 2024</p>
          </div>

    </div>
</div>