<div class="mx-auto w-screen bg-zinc-900 p-12">
    <div class="container">

        <div class="grid md:grid-cols-4 gap-5">

            <!-- //! Nuestros productos -->
            <div class="md:col-span-2 order-2 md:order-1">

                <h1 class="font-Bebas-Neue text-3xl pb-4 text-yellow-600">Nuestros productos</h1>

                <div class="grid md:grid-cols-2 gap-x-5 gap-y-8">

                    <div>

                        <div class='mb-5'>
                        <h3 class="font-Bebas-Neue text-lg text-zinc-400">Tipos de cristal</h3>
                        <ul class="list-disc pl-5 text-sm">
                            <li><a target="_self" href="#">Flotado</a></li>
                            <li><a target="_self" href="#">Reflectivo</a></li>
                            <li><a target="_self" href="#">Esmerilado</a></li>
                            <li><a target="_self" href="#">Espejo</a></li>
                            <li><a target="_self" href="#">Laminado</a></li>
                        </ul>
                        </div>

                        <div class=''>
                            <h3 class="font-Bebas-Neue text-lg text-zinc-400">Procesos en cristal</h3>
                            <ul class="list-disc pl-5 text-sm">
                            <li><a href="#" target="_self">Templado</a></li>
                            <li><a href="#" target="_self">Canto pulido</a></li>
                            <li><a href="#" target="_self">Grabado</a></li>
                            <li><a href="#" target="_self">Bisel</a></li>
                            <li><a href="#" target="_self">Cenefas</a></li>
                            <li><a href="#" target="_self">Barrenos</a></li>
                            <li><a href="#" target="_self">Saques</a></li>
                            <li><a href="#" target="_self">Esmerilados</a></li>
                            </ul>
                        </div>

                    </div>

                    <div>

                        <div class='pb-5'>
                        <h3 class="font-Bebas-Neue text-lg text-zinc-400">Perfiles de aluminio</h3>
                        <ul class="list-disc pl-5 text-sm">
                            <li><a href="#" target="_self">Línea nacional</a></li>
                            <li><a href="#" target="_self">Línea española</a></li>
                            <li><a href="#" target="_self">Venta al corte</a></li>
                            <li><a href="#" target="_self">Colores blanco, natural, champagne, BTE, bronce, nogal</a></li>
                            
                        </ul>
                        </div>

                        <div class='pb-5'>
                            <h3 class="font-Bebas-Neue text-lg text-zinc-400">Herrajes</h3>
                            <ul class="list-disc pl-5 text-sm">
                                <li><a href="#" target="_blank">Para cristal templado</a></li>
                                <li><a href="#" target="_blank">Para cancelería de aluminio nacional y española</a></li>
                            </ul>
                        </div>
    
                        <div class='pb-5'>
                            <h3 class="font-Bebas-Neue text-lg text-zinc-400">Productos adicionales</h3>
                            <ul class="list-disc pl-5 text-sm">
                                <li><a href="#" target="_blank">Acrílicos</a></li>
                                <li><a href="#" target="_blank">Policarbonato</a></li>
                                <li><a href="#" target="_blank">Plásticos para baño</a></li>
                                <li><a href="#" target="_blank">Domos</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--//! Contacto -->
            <div class="col-span-2 order-1 md:order-2">

                <h1 class="font-Bebas-Neue text-3xl pb-4 text-yellow-600">Contactanos hoy mismo</h1>

                <div class="grid md:grid-cols-2 gap-4">

                    <div>
                        <div class="relative w-full h-96">
                        <iframe
                        class="absolute top-0 left-0 w-full h-full"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.3584712609995!2d-98.98006178844165!3d19.697356732094352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ed19a652adbd%3A0x37f45662d04a2e0a!2sALUVITEC!5e0!3m2!1ses-419!2smx!4v1718233397884!5m2!1ses-419!2smx"
                        frameborder="0"
                        style="border:0;"
                        allowfullscreen=""
                        aria-hidden="false"
                        tabindex="0"
                        >
                        </iframe>
                        </div>
                    </div>

                    <div>

                        <div>
                            <h3 class="font-Bebas-Neue text-lg text-zinc-400">Dirección</h3>
                            <p class="pb-5 text-sm">
                                Temascalcingo LT 24, Col Hueyotencotl, Tecámac. Estado de
                            México. <span class="text-yellow-600">Estamos detrás de Power Center Tecámac, junto a Conalep</span>
                        </p>
                    </div>

                        <div class="pb-5">
                            <h3 class="font-Bebas-Neue text-lg text-zinc-400">Teléfonos</h3>
                            <ul class="list-disc pl-5 text-sm">
                            <li><a href="" target="_self">5936 0365</a></li>
                            <li><a href="" target="_self">5936 2789</a></li>
                            <li><a href="" target="_self">5936 3562</a></li>
                            <li><a href="" target="_self">6359 3952</a></li>
                            </ul>
                        </div>
        
                        <div>
                            <h3 class="font-Bebas-Neue text-lg text-zinc-400">Horarios de liunes a viernes</h3>
                            <ul class="list-disc pl-5 text-sm">
                                <li>de 8:30am - 2:00 pm</li>
                                <li>de 3:15 a 6:00pm</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="text-center italic py-12 text-zinc-400 text-sm">
            <p>© Todos los derechos reservados</p>
            <p>aluvitec.mx 2024</p>
          </div>

    </div>
</div>