---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title?: string;
  descriptions?: string;
}

const {
    title, 
    descriptions} = Astro.props

import Menu from "./Menu.astro"
---

<!doctype html>
<html lang="es" class="bg-black text-gray-300" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="descriptions" content={descriptions}/>
    <title>Aluvitec | {title} </title>
  
    <ViewTransitions />

  </head>
  <body class="" >
    <Menu/>
    <main class="mx-auto container">
    <slot />
    </main>
  </body>
</html>
