

    <div class="mx-auto container">	
		
        <div class="
        grid 
        grid-cols-2 md:grid-cols-4
        gap-4 
        font-Bebas-Neue text-4xl
        p-12
        ">

            <a href="./productos">
                <img src="./images/btn_aluminio.png" alt="Aluminio"
                class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                />
            </a>
            
            <a href="./productos">
                <img src="./images/btn_cristal.png" alt="Cristal"
                class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                />
            </a>
            
            <a href="./productos">
                <img src="./images/btn_herrajes_aluminio.png" alt="Herrajes para perfiles de aluminio"
                class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                />
            </a>
            
            <a href="./productos">
                <img src="./images/btn_herrajes_cristal.png" alt="Herrajes para cristales"
                class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                />
            </a>
        </div>

        <div class="text-center">
            <p class="
            font-Bebas-Neue 
            text-yellow-600 
            py-5 
            text-2xl
            md:text-4xl
            ">
                Manejamos la línea española <span class="text-yellow-400 animate-pulse">serie 1400</span>
            </p>

        </div>


    </div>
