

    <div class="mx-auto container">	
		
        <div class="
        grid grid-cols-2 md:grid-cols-3 gap-4 
        font-Bebas-Neue
        md:p-12 p-4
        text-center
        md:text-3xl
        text-2xl
        ">

        
            <!-- <a href="./productos">
                <img src="./images/btn_aluminio.png" alt="Aluminio"
                class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                />
            </a>
            
            <a href="./productos">
                <img src="./images/btn_cristal.png" alt="Cristal"
                class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                />
            </a>
            
            <a href="./productos">
                <img src="./images/btn_herrajes_aluminio.png" alt="Herrajes para perfiles de aluminio"
                class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                />
            </a>
            
            <a href="./productos">
                <img src="./images/btn_herrajes_cristal.png" alt="Herrajes para cristales"
                class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                />
            </a> -->

            <div class="relative max-w-xl mx-auto transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
                <a href="./productos/aluminio" target="_self">
                    <img src="../images/producto/perfil-aluminio-espaniol.webp" alt="Perfiles de aluminio">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white md:p-0 p-5">Perfiles de aluminio</h2>
                    </div>
                </a>
            </div>
            
            <div class="relative max-w-xl mx-auto transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
                <a href="./productos/cristal-tipos">
                    <img src="../images/producto/Vidrio-espejo.jpg" alt="Cristales">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white md:p-0 p-5">Cristales</h2>
                    </div>
                </a>
            </div>
            
            <div class="relative max-w-xl mx-auto transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
                <a href="./productos/cristal-procesos">
                    <img src="../images/producto/Vidrio-flotado.jpg" alt="Procesos en cristal">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white md:p-0 p-5">Procesos en cristal</h2>
                    </div>
                </a>
            </div>
            
            <div class="relative max-w-xl mx-auto transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
                <a href="./productos/herrajes-cristal">
                    <img src="../images/producto/herrajes-cristal/2.jpg" alt="Herrajes cristal templado">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white md:p-0 p-5">Herrajes cristal templado</h2>
                    </div>
                </a>
            </div>
            
            <div class="relative max-w-xl mx-auto transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
                <a href="./productos/herrajes-aluminio">
                    <img src="../images/producto/herrajes-aluminio/5.jpg" alt="Herrajes aluminio">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white md:p-0 p-5">Herrajes aluminio</h2>
                    </div>
                </a>
            </div>
           
            <div class="relative max-w-xl mx-auto transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
                <a href="./productos/adicionales">
                    <img src="../images/producto/adicional-policarbonato.jpg" alt="Productos adicionales">
                    <div class="absolute inset-0 bg-gray-700 opacity-50"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <h2 class="font-Bebas-Neue text-white md:p-0 p-5">Productos adicionales</h2>
                    </div>
                </a>
            </div>
        </div>

        <div class="text-center">
            <p class="
            font-Bebas-Neue 
            text-yellow-600 
            py-5 
            text-2xl
            md:text-4xl
            ">
                Manejamos la línea española <span class="text-yellow-400 animate-pulse">serie 1400, 3500 y 4600</span>
            </p>

        </div>


    </div>
